##### listing the files in the directory

In [170]:
ls

 Volume in drive S is study
 Volume Serial Number is 8499-C21A

 Directory of S:\mindadda\jobs scrape\ml_parts\recommendation engine\quiz recommendation\Personality_analysis_by_quiz\static

16-06-2020  15:03    <DIR>          .
16-06-2020  15:03    <DIR>          ..
16-06-2020  13:23    <DIR>          .ipynb_checkpoints
16-06-2020  14:16            10,961 model_dataset.csv
16-06-2020  15:03            30,950 Model_workout.ipynb
13-06-2020  12:40             3,306 questions.csv
16-06-2020  15:09            22,040 result_plot.png
               4 File(s)         67,257 bytes
               3 Dir(s)  46,238,892,032 bytes free

In [171]:
import numpy as np
import pandas as pd

In [172]:
df = pd.read_csv('model_dataset.csv')

In [173]:
df.head(5)

,Extraversion,Agreeableness,Conscientiousness,Openness,Neuroticism,Type
0,0,0,40,0,0,High Work Ethic and High organisational skills
1,0,0,35,0,0,High Work Ethic and High organisational skills
2,0,0,45,0,0,High Work Ethic and High organisational skills
3,0,0,55,0,0,High Work Ethic and High organisational skills
4,0,0,40,0,0,High Work Ethic and High organisational skills

In [174]:
df.isnull().any()

Extraversion         False
Agreeableness        False
Conscientiousness    False
Openness             False
Neuroticism          False
Type                 False
dtype: bool

### The dataset contains no null values in any of columns

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Extraversion       223 non-null    int64
 1   Agreeableness      223 non-null    int64
 2   Conscientiousness  223 non-null    int64
 3   Openness           223 non-null    int64
 4   Neuroticism        223 non-null    int64
 5   Type               223 non-null    object
dtypes: int64(5), object(1)
memory usage: 10.6+ KB

### By this information we can clearly says except Type column, rest columns are integeral type columns.

In [176]:
df.describe()

       Extraversion  Agreeableness  Conscientiousness    Openness  Neuroticism
count    223.000000     223.000000         223.000000  223.000000   223.000000
mean      12.582960       8.820628           8.067265   12.986547    12.582960
std       26.536242      22.365396          22.140826   26.443290    26.536242
min        0.000000       0.000000           0.000000    0.000000     0.000000
25%        0.000000       0.000000           0.000000    0.000000     0.000000
50%        0.000000       0.000000           0.000000    0.000000     0.000000
75%        0.000000       0.000000           0.000000    6.500000     0.000000
max      100.000000     100.000000         100.000000  100.000000   100.000000

### It shows the statistics of each column
1. minimum value of each column is 0,

2. maximum value of each column is 100.

In [177]:
df.shape

(223, 6)

In [178]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

In [179]:
encoder.fit(df.Type)

LabelEncoder()

In [180]:
df['Type'] = encoder.transform(df['Type'])

In [181]:
df.sample(10)

,Extraversion,Agreeableness,Conscientiousness,Openness,Neuroticism,Type
116,15,0,0,0,0,7
32,0,35,0,0,0,4
134,0,0,0,0,72,12
16,0,0,99,0,0,0
155,0,0,0,0,36,6
194,0,0,0,89,0,3
189,0,0,0,88,0,3
111,37,0,0,0,0,7
11,0,0,75,0,0,0
190,0,0,0,87,0,3

In [182]:
x = df[df.columns[:-1]]

In [183]:
y = df['Type']

In [184]:
from sklearn.model_selection import train_test_split

In [187]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [188]:
x_train

     Extraversion  Agreeableness  Conscientiousness  Openness  Neuroticism
127             0              0                  0         0           48
66              0             26                  0         0            0
73             40              0                  0         0            0
96             89              0                  0         0            0
119             0              0                  0         0           43
..            ...            ...                ...       ...          ...
106            36              0                  0         0            0
14              0              0                 89         0            0
92             87              0                  0         0            0
179             0              0                  0        55            0
102            78              0                  0         0            0

[178 rows x 5 columns]

In [189]:
y_train

127     8
66      1
73      9
96     13
119     8
       ..
106     7
14      0
92     13
179     2
102    13
Name: Type, Length: 178, dtype: int32

In [190]:
x_test.head(5)

     Extraversion  Agreeableness  Conscientiousness  Openness  Neuroticism
9               0              0                 58         0            0
84             75              0                  0         0            0
117             0              0                  0         0           52
144             0              0                  0         0           92
220             0              0                  0        22            0

In [191]:
y_test[:5]

9       5
84     13
117     8
144    12
220    10
Name: Type, dtype: int32

In [192]:
from sklearn.svm import SVC

In [193]:
model_1 = SVC()

In [194]:
model_1.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [195]:
y_pred_svm = model_1.predict(x_test)

In [196]:
from sklearn.metrics import accuracy_score

In [197]:
accuracy_score(y_test, y_pred_svm)*100

97.77777777777777

In [198]:
for i,j in zip(y_test,y_pred_svm):
    print('actual:\t%s\t\tpredicted:\t%s'%(i,j))

actual:	5		predicted:	5
actual:	13		predicted:	13
actual:	8		predicted:	8
actual:	12		predicted:	12
actual:	10		predicted:	10
actual:	7		predicted:	7
actual:	9		predicted:	9
actual:	7		predicted:	7
actual:	2		predicted:	2
actual:	3		predicted:	3
actual:	1		predicted:	1
actual:	0		predicted:	0
actual:	3		predicted:	3
actual:	11		predicted:	11
actual:	11		predicted:	10
actual:	14		predicted:	14
actual:	2		predicted:	2
actual:	9		predicted:	9
actual:	10		predicted:	10
actual:	13		predicted:	13
actual:	13		predicted:	13
actual:	0		predicted:	0
actual:	9		predicted:	9
actual:	12		predicted:	12
actual:	12		predicted:	12
actual:	12		predicted:	12
actual:	3		predicted:	3
actual:	1		predicted:	1
actual:	1		predicted:	1
actual:	13		predicted:	13
actual:	10		predicted:	10
actual:	9		predicted:	9
actual:	0		predicted:	0
actual:	3		predicted:	3
actual:	6		predicted:	6
actual:	7		predicted:	7
actual:	6		predicted:	6
actual:	7		predicted:	7
actual:	9		predicted:	9
actual:	2		predicted:	2
actual:	12		predicted:	12
actual:	10		predicted:	10
actual:	3		predicted:	3
actual:	8		predicted:	8
actual:	6		predicted:	6

In [199]:
labels = encoder.classes_

In [200]:
print(labels)

['Ambitious and Future Planning' 'Argumentive and Challenging'
 'Curious and Spontaneuous in Life Styles'
 'Eager to learn new things, Highly Creative and Imaginative'
 'Friendliness and Compassion'
 'High Work Ethic and High organisational skills' 'Insecure and Unstable'
 'Less Dominat to Others' 'More Anxious and Angry' 'More interactive'
 'Mostly Seeking Help from Others ' 'Obessive and Stubborn'
 'React Negatively  to a situation and Potential to apt to a scenario'
 'Talktive, Energytic and Most Centric Attitude'
 'Trustworthy and Even Tempered']

In [201]:
label_predicted_value = model_1.predict([[62, 60, 35, 62, 50]])

In [202]:
label_name = labels[label_predicted_value]

In [204]:
print(label_name)

['Eager to learn new things, Highly Creative and Imaginative']